/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 27, 2024, 3:17:23 AM
    Author     : ADMIN
*/
.box-menu{
    text-align: center;
}

.box-menu ul{
    display: inline-flex;
    list-style: none;
}

.box-menu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.box-menu ul li a{
    text-decoration: none;
    color: white;

}

.active, .box-menu ul li:hover{
    background-color: #5a8161;
    border-radius: 3px;
}

.sub-menu{
    display: none;
}

.box-menu ul li:hover .box-submenu{
    display: block;
    position: absolute;
    background-color: #0e4310;
    margin-top: 15px;
    margin-left: -15px;
}

.box-menu ul li:hover .box-submenu ul{
    display: block;
    margin: 10px;
    padding: 0;
}

.box-menu ul li:hover .box-submenu ul li{
    width: 220px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    margin: 10ps;
}
