        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .MyCourse_cart {
            display: flex;
            align-items: baseline;
            margin-top: 30px;
            border: solid;
            border-radius: 38px;
            
        }
        
        .MyCourse_image{
            width: 235px;
            
        }
        
        .MyCourse_image img{
            
            border-radius: 35px;
        }
        
 
        .MyCourse_DeleteCourse a{
                margin-left: 150px;
                border-radius: 55px;
                text-align: center;
                padding: 11px;
                width: 108px;
                margin-right: 20px;
                background-color: #9f4b4b;
                color: white;
        }



        .Mycourse_CourseName {
            margin-top: 10px;
            font-weight: bold;
            font-size: 25px;
            margin-left: 20px;
        }
        
        .MyCourse_paging{
            margin-top: 10px;
        }
        
        .MyCourse_paging a{
                background-color: #a0a0c9;
                padding: 3px;
                margin-left: 3px;
                border-radius: 15px;
        }
